main {
    width: 1fr;
}

aside.left {
    width: 20rem;
}

aside.right {
    width: 20rem;
}

.grid-feed {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: max-content;
    gap: 1rem;
}

#img-profile-bg {
    height: 15rem;
    width: 100%;
}

#img-profile {
    top: 5px;
    left: 40%;
}

.card-post {
    height: max-content;
}
